{include file="/user_header" /}


<div class="card">
  <div class="row g-0">
    <div class="col-md-3 border-end">
      {include file="/User/user_center_left_menu" /}
    </div>
    <div class="col-md-9 d-flex flex-column">
      <div class="card-body">
        <h2 class="subheader">My Account</h2>

        <h3 class="card-title mt-4">用户名</h3>
        <div>
          <div class="row g-2">
            <div class="col-auto">
              <input type="text" class="form-control w-auto" value="{$user_data[0]['username']}" disabled>
            </div>
          </div>
        </div>
        <h3 class="card-title mt-4">邮箱</h3>
        <div>
          <div class="row g-2">
            <div class="col-auto">
              <input type="text" class="form-control w-auto" value="{$user_data[0]['email']}" disabled>
            </div>
          </div>
        </div>
        <h3 class="card-title mt-4">密码</h3>
        <div>
          <div class="row g-2">
            <div class="col-auto">
              <div class="input-group input-group-flat">
                <input type="password" name="password" class="form-control" placeholder="Password" id="pwd" autocomplete="off" value="{$user_data[0]['password']}" disabled>
                <span class="input-group-text">
                  <a href="#" class="link-secondary" id="eye" data-bs-toggle="tooltip" aria-label="Show password" data-bs-original-title="Show password"><!-- Download SVG icon from http://tabler-icons.io/i/eye -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 12m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path><path d="M22 12c-2.667 4.667 -6 7 -10 7s-7.333 -2.333 -10 -7c2.667 -4.667 6 -7 10 -7s7.333 2.333 10 7"></path></svg>
                  </a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var eye = document.getElementById('eye');
  var pwd = document.getElementById('pwd');
  var flag = 0;
  eye.onclick = function() {
    if (flag == 0) {
      pwd.type = 'text';
      flag = 1;
    } else {
      pwd.type = 'password';
      flag = 0;
    }
  }
</script>
{include file="/footer" /}