{include file="/user_header" /}

<div class="card">
  <div class="row g-0">
    <div class="col-md-3 border-end">
      {include file="/User/user_center_left_menu" /}
    </div>
    <div class="col-md-9 d-flex flex-column">
      <div class="card-body">
        <div class="row row-cards">

          <div class="col">
            <h2 class="subheader">Recharge record</h2>
          </div>

          <div class="card">


            <div class="table-responsive">
              <table class="table table-vcenter card-table">
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Item</th>
                    <th>Cost</th>
                    <th>Balance</th>

                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Paweł Kuna</td>
                    <td class="text-muted">
                      UI Designer, Training
                    </td>
                    <td class="text-muted"><a href="#" class="text-reset">paweluna@howstuffworks.com</a></td>
         

                  </tr>
                  <tr>
                    <td>Jeffie Lewzey</td>
                    <td class="text-muted">
                      Chemical Engineer, Support
                    </td>
                    <td class="text-muted"><a href="#" class="text-reset">jlewzey1@seesaa.net</a></td>
                   
                  </tr>
                  
                  <tr>
                    <td>Dunn Slane</td>
                    <td class="text-muted">
                      Research Nurse, Sales
                    </td>
                    <td class="text-muted"><a href="#" class="text-reset">dslane3@epa.gov</a></td>
                    
                  </tr>
                  <tr>
                    <td>Emmy Levet</td>
                    <td class="text-muted">
                      VP Product Management, Accounting
                    </td>
                    <td class="text-muted"><a href="#" class="text-reset">elevet4@senate.gov</a></td>
                    

                  </tr>
                  <tr>
                    <td>Maryjo Lebarree</td>
                    <td class="text-muted">
                      Civil Engineer, Product Management
                    </td>
                    <td class="text-muted"><a href="#" class="text-reset">mlebarree5@unc.edu</a></td>
                    
                  </tr>
                  <tr>
                    <td>Egan Poetz</td>
                    <td class="text-muted">
                      Research Nurse, Engineering
                    </td>
                    <td class="text-muted"><a href="#" class="text-reset">epoetz6@free.fr</a></td>
                    
                  </tr>
                  <tr>
                    <td>Kellie Skingley</td>
                    <td class="text-muted">
                      Teacher, Services
                    </td>
                    <td class="text-muted"><a href="#" class="text-reset">kskingley7@columbia.edu</a></td>
                    

                  </tr>
                  <tr>
                    <td>Kellie Skingley</td>
                    <td class="text-muted">
                      Teacher, Services
                    </td>
                    <td class="text-muted"><a href="#" class="text-reset">kskingley7@columbia.edu</a></td>
                    

                  </tr>
                  <tr>
                    <td>Kellie Skingley</td>
                    <td class="text-muted">
                      Teacher, Services
                    </td>
                    <td class="text-muted"><a href="#" class="text-reset">kskingley7@columbia.edu</a></td>
                    

                  </tr>
                  <tr>
                    <td>Kellie Skingley</td>
                    <td class="text-muted">
                      Teacher, Services
                    </td>
                    <td class="text-muted"><a href="#" class="text-reset">kskingley7@columbia.edu</a></td>
                    

                  </tr>
                  <tr>
                    <td>Kellie Skingley</td>
                    <td class="text-muted">
                      Teacher, Services
                    </td>
                    <td class="text-muted"><a href="#" class="text-reset">kskingley7@columbia.edu</a></td>
                    

                  </tr>
                </tbody>
              </table>
            </div>
          </div>




              
        </div>


      </div>
    </div>
  </div>
</div>

{include file="/footer" /}