<footer class="footer footer-transparent d-print-none">
  
    <div class="container-xl">
      <div class="row text-center align-items-center flex-row-reverse">
        <div class="col-lg-auto ms-lg-auto">
          <ul class="list-inline list-inline-dots mb-0">
            <li class="list-inline-item"><a href="/report" class="link-secondary">投诉链接</a></li>

            <li class="list-inline-item"><a href="/contact" class="link-secondary">联系我们</a></li>
            
          </ul>
        </div>
        <div class="col-12 col-lg-auto mt-3 mt-lg-0">
          <ul class="list-inline list-inline-dots mb-0">
            <li class="list-inline-item">
              Copyright © 2023
              <a href="/" class="link-secondary">{$host_data[0]['domain']}</a>.
              All rights reserved.
            </li>
          </ul>
        </div>
      </div>


    </div>
    
  </footer>
</div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $.get("/user/user_status",function(data,status){
      $("#user_box").html(data);
    });
  });
</script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-10965695873"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-10965695873');
</script>


</html>