<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>用户中心</title>

    {load href="/static/css/style.css" /}
    {load href="/static/tabler/dist/css/tabler.min.css" /}
    {load href="/static/tabler/dist/css/tabler-flags.min.css" /}
    {load href="/static/tabler/dist/css/tabler-payments.min.css" /}
    {load href="/static/tabler/dist/css/tabler-vendors.min.css" /}
    {load href="/static/tabler/dist/js/tabler.min.js" /}
    {load href="/static/js/jQuery.js" /}

  </head>
  <body>
  <div class="page">
    <!-- Navbar -->
    <header class="navbar navbar-expand-md navbar-dark d-print-none">
      <div class="container-xl">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
          <span class="navbar-toggler-icon"></span>
        </button>
        <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
          <a href="/">
            <img src="/static/tabler/static/logo_user.svg" width="110" height="32" alt="Tabler" class="navbar-brand-image">
          </a>
        </h1>
        <div class="navbar-nav flex-row order-md-last">
          <div class="nav-item d-none d-md-flex me-3">
            <div class="btn-list">
              <a href="/" class="btn btn-dark" target="_blank" rel="noreferrer">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M5 12l-2 0l9 -9l9 9l-2 0"></path><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"></path><path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"></path>
                </svg>
                网站首页
              </a>

            </div>
          </div>
          <div class="nav-item dropdown" id="user_box">
            
          </div>
        </div>
      </div>
    </header>


    <div class="page-body">
      <div class="container-xl">



